@font-face{
    font-family: YouSheBiaoTiHei;
    src: url( $FontUrl +  '/font/YouSheBiaoTiHei.ttf');
}
@font-face{
    font-family: PangMenZhengDao;
    src:url( $FontUrl + '/font/PangMenZhengDao.TTF');
}
//歌词字体
@font-face{
    font-family: RuiZiZhenYanTi;
    src:url( $FontUrl + '/font/RuiZiZhenYanTi.ttf');
}
@font-face{
    font-family: YaoSuiXinShouXieTi-2;
    src:url( $FontUrl + '/font/YaoSuiXinShouXieTi-2.ttf');
}
@font-face{
    font-family: ZiTiQuanXinYiJiXiangSong-2;
    src:url( $FontUrl + '/font/ZiTiQuanXinYiJiXiangSong-2.ttf');
}
@font-face{
    font-family: HongLeiBanShuJianTi-2;
    src:url( $FontUrl + '/font/HongLeiBanShuJianTi-2.ttf');
}
@font-face{
    font-family: BaoTuXiaoBaiTi;
    src:url( $FontUrl + '/font/BaoTuXiaoBaiTi.ttf');
}

@font-face{
    font-family: CangErShuYuanTiW05;
    src:url( $FontUrl + '/font/CangErShuYuanTiW05.ttf');
}
@font-face{
    font-family: DouYuZuiGuangTi;
    src:url( $FontUrl + '/font/DouYuZuiGuangTi.otf');
}
@font-face{
    font-family: JiangXiZhuoKan-2;
    src:url( $FontUrl + '/font/JiangXiZhuoKan2.0.ttf');
}

@font-face{
    font-family: jiangxizhuokai;
    src:url( $FontUrl + '/font/jiangxi.ttf');
}
// @font-face{
//     font-family: RunZhiJiaKangXiZhiDianMeiHuaTi;
//     src:url( $FontUrl + '/font/RunZhiJiaKangXiZhiDianMeiHuaTi.ttf');
// }
@font-face{
    font-family: SlidefuRegular;
    src:url( $FontUrl + '/font/SlidefuRegular.ttf');
}
@font-face{
    font-family: LianMengQiYiLuShuaiZhengRuiHeiTi;
    src:url( $FontUrl + '/font/LianMengQiYiLuShuaiZhengRuiHeiTi.ttf');
}